# Combined Pickle Format

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [2]:
# Assigning the path

path = r'C:\Users\guest23455\Desktop\CareerFoundry\Data Immersion\Achievement 4_Python Fundamentals for Data Analysts\05-2023 Instacart Basket Analysis'

In [3]:
#Import products_checked.csv dataframe

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

**Exercise 4.6**

## Task 3

In [4]:
#Import orders_products_combined.csv dataframe 

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Task 4

In [5]:
# Check the shape of the dataframe
df_ords_prods_combined.shape

(32434489, 10)

The shape of the df_ords_prods_combined dataframe is same as the df_merged_large dataframe

In [9]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

## Task 5

In [6]:
# Checking the dimensions of df_prods dataframe

df_prods.shape

(49672, 6)

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Dropping the unnamed column

df_prods = df_prods.drop('Unnamed: 0', axis=1)

In [10]:
df1_merged_large = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

An error is thrown because the column 'merge' is already present in the df_ords_prods_combined dataframe.<br/>
Solution : I dropped the '_merge' column from df_ords_prods_combined.

In [11]:
# Drop the '_merge' column from the dataframe ords_prods_combined

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [12]:
# Merging df_ords_prods_combined dataframe and df_prods dataframe on 'product_id'

df1_merged_large = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [14]:
df1_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

## Task 6

In [15]:
# Confirm the results of merge using merge flag

df1_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
df1_merged_large.shape

(32404859, 14)

## Task 7

In [16]:
# Export the orders products merged dataframe to pickle format

# df1_merged_large to 'orders_products_merged.pkl'

df1_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))