# Importing Libraries

In [1]:
#  Importing libraries

import pandas as pd
import numpy as np
import os

# Python Data Types

x = 2

x            
#output 2

print(x)      
#output 2

type(x)      
#output int

y = 5.678

type(y)      
#output float

z = 'Brazil'

type(z)       
#output str

type(True)    
#output bool

type(False)  
#output bool

print(x)    
#output 2

x + 4     
#output 6

a = "Hello,"

b = "Marley"

a + b         
#output "Hello, Marley"

n = "potato"

n * 12      
#output 'potatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotato'

x == y     
#output False

type(x == y) 
#output bool

In [2]:
# Task 4.2 
# Working with Python data types

# Step 7 : 3 different ways of reaching a result of 100 by adding or subtracting numeric variables

a = 50

b = 50

In [3]:
a + b

100

In [4]:
c = 200

d = 100

In [5]:
c - d

100

In [6]:
c - (a + b)

100

In [7]:
# Step 8 : 2 floating-point variables and divide them by each other

d = 10.5

e = 5.5

In [8]:
d / e

1.9090909090909092

In [9]:
# Step 9 : Construct a short word (concatenate strings)

f = "Note"

g = "book"

In [10]:
f + g

'Notebook'

In [11]:
# Step 10 : Construct 2 short sentences made of separate strings

h = "I miss"

i = "I love"

j = " my dog"

In [12]:
h + j

'I miss my dog'

In [13]:
i + j

'I love my dog'

In [14]:
# Bonus task : Make a string appear 100 times

n = "Nala"

In [15]:
n * 100

'NalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNalaNala'